.navbar {
    background-color: royalblue;
    height: 80px;
}


.navbar header{
    color: aliceblue;
    padding: 30px;
    font-size: x-large;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
   text-transform: capitalize;
   text-decoration: solid;


}
.success button{
    background-color: darkcyan;
}